html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.img-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-image: url("assets/selfie-casal.png");
  background-size: cover;
  background-position: center 28%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}


body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  z-index: 0;
}

.conteudo-lateral {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding-right: 5%;
  z-index: 1;
}

.textos-direita {
  text-align: right;
  max-width: 500px;
  color: #fff;
}


.bonequinhos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.bonequinhos img {
  position: absolute;
  width: 120px;
  height: auto;
  filter: drop-shadow(0 0 8px rgba(255,255,255,0.5));
  animation: aparecerFrase 1.2s ease-out forwards;
  opacity: 0;
}



.bonequinhos img:nth-child(1) { top: 12%; left: 33%; }   
.bonequinhos img:nth-child(2) { top: 12%; left: 3%; } 
.bonequinhos img:nth-child(3) { top: 45%; left: 3%; } 
.bonequinhos img:nth-child(4) { top: 45%; left: 33%; } 
.bonequinhos img:nth-child(5) { top: 78%; left: 3%; } 
.bonequinhos img:nth-child(6) { top: 78%; left: 33%; }  
.bonequinhos img:nth-child(7) { top: 3%; left: 80%; }  
.bonequinhos img:nth-child(8) { top: 78%; left: 80%; }  
.bonequinhos img:nth-child(9) { top: 78%; left:60%; }  
.bonequinhos img:nth-child(10) { top: 13%; left: 87%; } 
.bonequinhos img:nth-child(11) { top: 20%; left: 72%; } 




@keyframes flutuar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}



.titulo-topo {
  font-family: 'Tagesschrift', serif;
  font-size: 3.5rem;
  text-shadow: 0 0 12px #fff, 0 0 24px #c54272;
}

.saudacao-home {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  animation: aparecerFrase 2s ease-out forwards;
  opacity: 0;
}

@keyframes aparecerFrase {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.saudacao-home::before {
  content: "“";
  font-size: 2.5rem;
  color: #ffd1dc;
  margin-right: 0.3rem;
}
.saudacao-home::after {
  content: "”";
  font-size: 2.5rem;
  color: #ffd1dc;
  margin-left: 0.3rem;
}


.botao-historia {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  background: rgba(197, 66, 114, 0.85);
  padding: 0.8rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;
}
.botao-historia:hover {
  transform: scale(1.05);
  background: #fff;
  color: rgb(197, 66, 114);
}
